{% extends 'base.html.twig' %}
{% block bodyclass %} class="body-user"{% endblock %}
{% block navbar %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li {% if app.request.get('_route') == 'file_library' %}class="active"{% endif %}>
            <a href="{{ path('file_library') }}">{% trans %}Library{% endtrans %}</a>
        </li>
        {#
        <li {% if app.request.get('_route') == 'emails' %}class="active"{% endif %}>
            <a href="#">{% trans %}Emails{% endtrans %}</a>
        </li>
        <li {% if app.request.get('_route') == 'file_upload' %}class="active"{% endif %}>
            <a href="{{ path('file_upload') }}">{% trans %}Upload{% endtrans %}</a>
        </li>
        #}
        <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('user_identity') }}">{% trans %}Identity{% endtrans %}</a></li>
                <li><a href="{{ path('user_configuration') }}">{% trans %}Configuration{% endtrans %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="visible-xs"><a href="{{ path('user_identity') }}">{% trans %}Identity{% endtrans %}</a></li>
        <li class="visible-xs"><a href="{{ path('user_configuration') }}">{% trans %}Configuration{% endtrans %}</a></li>
        <li class="visible-xs"><a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
    </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}