<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% trans %}Bindeo: New Security Level eSignature Platform{% endtrans %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body{% block bodyclass %}{% endblock %}>

{% block navbar_base %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <img src="{{ asset('images/bindeo.png') }}" width="120"> </a>
        </div>

        {% block navbar %}{% endblock %}
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}
{% block body %}{% endblock %}
{% if message is defined %}
    <div class="notifications" id="notifications">
        <div class="container">
            <div class="alert {{ message.res ? 'alert-success' : 'alert-danger' }}" role="alert">
                {{ message.value }}
            </div>
        </div>
    </div>
{% else %}
    <div class="notifications collapse" id="notifications">
        <div class="container">
            <div class="alert" role="alert"></div>
        </div>
    </div>
{% endif %}
{% block footer %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('libs/html5shiv_3.7.3/html5shiv.min.js') }}"></script>
    <script src="{{ asset('libs/respond_1.4.2/respond.min.js') }}"></script>
    <![endif]-->

    <script src="{{ asset('libs/jquery_2.2.3/jquery.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap_3.3.6/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>