<li class="item">
    <div>
        <span class="glyphicon glyphicon-file"></span> <span data-name="fileOrigName">{{ file.fileOrigName.vars.value }}</span>
    </div>
    {{ form_row(file.fileType, {'attr': {'placeholder': 'Type'}}) }}
    {{ form_row(file.idSign) }}
    {{ form_row(file.uniqueId, {'attr': {'placeholder': 'Unique Id'}}) }}
    {{ form_row(file.fullName, {'attr': {'placeholder': 'Beneficiary'}}) }}
    {{ form_row(file.fileDate, {'attr': {'placeholder': 'Date'}}) }}
    {{ form_row(file.idContent) }}
    {{ form_row(file.qualification) }}
    {{ form_row(file.path) }}
    {{ form_row(file.fileOrigName) }}
</li>