{% extends 'base-nolog.html.twig' %}

{% block title %}{% trans %}Sign in{% endtrans %}{% endblock %}

{% block body %}
<section class="forms form-signup">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>{% trans %}Sing in to Bindeo{% endtrans %}</h1>
            </div>
            <div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <form class="labels-no" action="{{ path('login') }}" method="post">
                    <p class="form-intro">{% trans %}Type your email and password and click button to sing in{% endtrans %}.</p>
                    {% if error %}
                        <div class="alert alert-danger">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.messageKey|trans(error.messageData, 'security') }}
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username" class="control-label required">{% trans %}Email{% endtrans %}</label>
                        <div>
                            <input type="email" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required="required" name="_username" id="username" data-focus="auto"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label required">{% trans %}Password{% endtrans %}</label>
                        <div>
                            <input type="password" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required="required" name="_password" id="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <button type="submit" class="btn btn-default btn-full">{% trans %}Sign in{% endtrans %}</button>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('password_reset') }}">{% trans %}Forgot password{% endtrans %}</a></li>
                            <li><a href="#">{% trans %}Need help?{% endtrans %}</a></li>
                            <li><a href="{{ path('register') }}">{% trans %}New in Bindeo?{% endtrans %} {% trans %}Sign up now{% endtrans %}</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}