{% extends 'base-nolog.html.twig' %}

{% block title %}
    {% trans %}Password reset{% endtrans %}
{% endblock %}

{% block body %}
<section class="forms form-signup">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>{% trans %}Password reset{% endtrans %}</h1>
            </div>
            <div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                {{ form_start(form, {'attr': {'class': 'labels-no'}}) }}
                    <p class="form-intro">{% trans %}To reset your password, type the email address you use to sign in to Bindeo{% endtrans %}.</p>
                    {{ form_errors(form) }}
                    {{ form_row(form.email, {'attr': {'placeholder': 'Your email'}}) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-full">{% trans %}Reset my password{% endtrans %}</button>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li><a href="#">{% trans %}Need help?{% endtrans %}</a></li>
                            <li><a href="{{ path('register') }}">{% trans %}New in Bindeo?{% endtrans %} {% trans %}Sign up now{% endtrans %}</a></li>
                        </ul>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}