{% extends 'base-nolog.html.twig' %}

{% block title %}
    {% trans %}Sign up{% endtrans %}
{% endblock %}

{% block body %}
<section class="forms form-signup">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>{% trans %}Start today to protect your property!{% endtrans %}</h1>
            </div>

            <div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                {{ form_start(form, {'attr': {'class': 'labels-no', 'autocomplete': 'off'}}) }}
                <p class="form-intro">Instructions...</p>
                {{ form_errors(form) }}
                {{ form_row(form.name, {'attr': {'placeholder': 'Your name'}}) }}
                {{ form_row(form.email, {'attr': {'placeholder': 'Your email'}}) }}
                {{ form_row(form.password, {'attr': {'placeholder': 'New password'}}) }}

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-full">{% trans %}Create account{% endtrans %}</button>
                </div>
                <div>
                    <p class="form-notice">
                        {% trans %}Do you already have Bindeo account?{% endtrans %} <a href="{{ path('login') }}">{% trans %}Sign in!{% endtrans %}</a>
                    </p>
                    <p class="form-notice">
                        {% trans with {'%a_terms%': '<a href="'~path('index')~'">', '%a_privacy%': '<a href="'~path('index')~'">', '%a_end%': '</a>'} %}
                        By creating account you accept the %a_terms%terms and conditions%a_end% and %a_privacy%privacy policy%a_end%
                        {% endtrans %}
                    </p>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}