{% extends 'base-log.html.twig' %}

{% block title %}
    {% trans %}File library{% endtrans %}
{% endblock %}

{% block body %}
<section data-type="main" class="hidden-xs">
    <div class="container">
        {{ drag|raw }}
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-tools">
                <div data-id="fileFilters" class="row">
                    <div class="col-xs-6 tools-path">
                        <div class="dropdown dropdown-path">
                            <a class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Folder <span class="caret"></span> </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-list"></span> {% trans %}All items{% endtrans %}</a></li>
                                <li data-type="special" data-value="1"><a href="#"><span class="glyphicon glyphicon-certificate"></span> {% trans %}Notarized{% endtrans %}</a></li>
                                <li data-type="special" data-value="2"><a href="#"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Getting certificate{% endtrans %}</a></li>
                                {#<li><a href="#"><span class="glyphicon glyphicon-user"></span> {% trans %}Shared{% endtrans %}</a></li>#}
                                <li data-type="status" data-value="T"><a href="#"><span class="glyphicon glyphicon-trash"></span> {% trans %}Trash{% endtrans %}</a></li>
                                <li data-type="status" data-value="D"><a href="#"><span class="glyphicon glyphicon-remove"></span> {% trans %}Deleted{% endtrans %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 tools-size">
                        <div class="visible-xs">
                            {% trans with {'%space%': '<span data-id="freespace">'~freespace~'</span>'} %}%space% GB free{% endtrans %}
                        </div>
                        <div class="hidden-xs">
                            {% trans with {'%space%': '<span data-id="usedspace">'~used~'</span>', '%total%': total} %}%space% GB of %total% GB used{% endtrans %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="list col-xs-12 col-sm-10 col-sm-offset-1">
                <ul class="list-unstyled">
                    <li data-id="fileFilters" class="item item-search">
                        <div>
                            <div class="item-icon hidden-xs col-sm-1">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <div class="item-name col-xs-8 col-sm-9">
                                <input autocomplete="off" data-type="name" type="text" class="form-control" placeholder="{% trans %}Search by name or filename{% endtrans %}...">
                            </div>
                            <div class="item-opts col-xs-2 col-sm-1 col-button">
                                <div class="btn-group">
                                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-filter"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">{% trans %}Filter{% endtrans %}</li>
                                        <li class="active"><a href="#">{% trans %}All{% endtrans %}</a></li>
                                        {% for mediaType in mediaTypes %}
                                        <li data-type="media-type" data-value="{{ mediaType.idType }}"><a href="#">{{ mediaType.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="item-opts col-xs-2 col-sm-1 col-button">
                                <div class="btn-group">
                                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-sort"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">{% trans %}Show first{% endtrans %}</li>
                                        <li class="active" data-type="order" data-value="1"><a href="#">{% trans %}Newer{% endtrans %}</a></li>
                                        <li data-type="order" data-value="2"><a href="#">{% trans %}Older{% endtrans %}</a></li>
                                        <li data-type="order" data-value="3"><a href="#">A-Z</a></li>
                                        <li data-type="order" data-value="4"><a href="#">Z-A</a></li>
                                        <li data-type="order" data-value="5"><a href="#">{% trans %}Smaller{% endtrans %}</a></li>
                                        <li data-type="order" data-value="6"><a href="#">{% trans %}Bigger{% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="fileList" class="list-unstyled">
                    {{ include('data/partials/file-list.html.twig') }}
                    {#
                    <li class="">
                        <div class="">
                            Modals launcher:
                            <ul>
                                <li><a href="#" data-toggle="modal" data-target="#modal-delete">Delete</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-send">Send by email</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-share">Share</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal-public">Public page</a></li>
                            </ul>
                        </div>
                    </li>
                    #}
                </ul>
            </div>

        </div>
    </div>
</section>
{# MODALS #}
<section class="">
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-header">
                    <h4 class="modal-title">Delete file</h4>
                </div>
                <div class="modal-body">
                    <p>Se dispone a enviar el fichero a la papelera.</p>
                    <p>Recuerde que el certificado seguirá siendo válido y que para que le sea útil, debe conservar una
                        copia del fichero original.</p>

                    <div class="checkbox">
                        <label> <input type="checkbox"> Eliminar permanentemente</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Yes, delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-send">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-header">
                    <h4 class="modal-title">Send by email</h4>
                </div>
                <div class="modal-body">
                    <p>This file is notarized and it's safe to share by email.</p>
                    <div class="share-send forms">
                        <form class="labels-no">
                            <div class="form-group has-error has-feedback">
                                <label for="field-email" class="control-label">Email Address</label> <input class="form-control" id="field-email" type="email" placeholder="Email address"> <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span class="help-block">Introduce una dirección de correo válida</span>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="field-message" rows="3" placeholder="Message (optional)"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Require this user to login</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-share">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-header">
                    <h4 class="modal-title">Share</h4>
                </div>
                <div class="modal-body">
                    <p>This file is notarized and it's safe to share, copy the following link and share it.</p>
                    <div class="share-link forms">
                        <form>
                            <div class="form-group">
                                <input class="form-control cursor-copy" id="" type="text" placeholder="" value="https://www.bindeo.com/asset/v38fj" disabled="">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Always require viewers to login</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">Open link</button>
                    <button type="button" class="btn btn-primary">Done</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-public">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-header">
                    <h4 class="modal-title">Public page</h4>
                </div>
                <div class="modal-body">
                    <p>Allow any user to access your file.</p>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active"> <input type="radio" name="options" id="option1" autocomplete="off" checked=""> Disabled </label>
                        <label class="btn btn-default"> <input type="radio" name="options" id="option2" autocomplete="off"> Enabled </label>
                    </div>
                    <div class="forms">
                        <form>
                            <div class="form-group">
                                <input class="form-control cursor-copy" id="field-url" type="text" placeholder="" value="https://www.bindeo.com/asset/v38fj" disabled="">
                            </div>
                            <!--
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Always require viewers to login</label>
                                </div>
                            </div>
                            -->
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">Open page</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/jQuery-File-Upload-9.12.3/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/jQuery-File-Upload-9.12.3/css/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/intl-tel-input_8.5.2/css/intlTelInput.css') }}">
{% endblock %}

{% block javascripts %}
    {# Libraries #}
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.3/js/cors/jquery.postmessage-transport.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.3/js//vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.3/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.3/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('libs/intl-tel-input_8.5.2/js/intlTelInput.min.js') }}"></script>
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.3/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    {# Own js #}
    <script src="{{ asset('js/files.js') }}"></script>
{% endblock %}