{% extends 'base-log.html.twig' %}

{% block title %}
    {% trans %}Upload files{% endtrans %}
{% endblock %}

{% block body %}
    <section data-type="main" class="">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    {{ include('data/partials/file-upload-drag.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/jQuery-File-Upload-9.12.1/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('libs/jQuery-File-Upload-9.12.1/css/jquery.fileupload-ui.css') }}">
{% endblock %}

{% block javascripts %}
    {# Libraries #}
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.1/js/cors/jquery.postmessage-transport.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.1/js//vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.1/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js') }}"></script>
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="{{ asset('libs/jQuery-File-Upload-9.12.1/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    {# Own js #}
    <script src="{{ asset('js/files.js') }}"></script>
{% endblock %}