{{ form_start(form, {'attr': {'action': path('file_upload'), 'autocomplete': 'off'}}) }}
{{ form_errors(form) }}
<div data-type="error" class="alert alert-danger collapse">
    <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {% trans %}Ops!{% endtrans %} {% trans %}There was an error uploading the file{% endtrans %}.</li>
    </ul>
</div>

<div class="modal-header">
    <h4 class="modal-title">{% trans %}Want send to sign this document or just notarize it?{% endtrans %}</h4>
</div>
<div class="modal-body">
    <div data-name="upload-options">
        <ul class="list-group">
            <li class="list-group-item"><a name="options" data-mode="N" href="#">{% trans %}No, just notarize it{% endtrans %}</a></li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <a name="options" data-mode="S" data-type="A" href="#">
                    {% trans %}Yes, to sign me and others{% endtrans %}
                </a>
            </li>
            <li class="list-group-item">
                <a name="options" data-mode="S" data-type="O" href="#">
                    {% trans %}Yes, to sign just other{% endtrans %}
                </a>
            </li>
            <li class="list-group-item">
                <a name="options" data-mode="S" data-type="M" href="#">
                    {% trans %}Yes, to sign only me{% endtrans %}
                </a>
            </li>
        </ul>
    </div>

    <div data-id="to-sign">
        <p>{% trans %}Great, who others need to sign?{% endtrans %}</p>
        <ul class="list-unstyled modal-recipients-list" data-prototype="{{ include('data/partials/signer-form.html.twig', {'signer': form.signers.vars.prototype})|e }}">
            {% for signer in form.signers %}
                {{ include('data/partials/signer-form.html.twig') }}
            {% endfor %}
        </ul>
    </div>
</div>
<div data-id="to-sign" class="modal-footer">
    <button type="button" data-action="add-signer" class="btn btn-link padding-left-0 pull-left" href="#">+ {% trans %}Add signer{% endtrans %}</button>
    <button id="submit-button" type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
</div>
{{ form_end(form) }}