<!-- Object: Drag -->
<div class="drag" data-action="fileupload" data-name="upload_file" data-url="{{ path('ajax_file_upload') }}"
     data-maxfilesize="{{ filesize * 1024 }}" data-freespace="{{ freespace * 1024 }}" data-confirmed="{{ confirmed }}">
    {{ include('data/partials/file-upload-div.html.twig', {'numFiles': 1}) }}
    <div id="upload_file_done"></div>
</div>
<div class="forms" id="upload_file">
    <section class="">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-prepare">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ include('data/partials/file-upload-form.html.twig') }}
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>
</div>
<div class="drop">
    <div>
        <div id="drop-area">
            {% trans %}Drop your file{% endtrans %}...
        </div>
    </div>
</div>
