<!-- Object: Drag -->
<div class="drag" data-action="fileupload" data-name="upload_file" data-url="{{ path('ajax_file_upload') }}"
     data-maxfilesize="{{ filesize * 1024 }}" data-freespace="{{ freespace * 1024 }}" data-confirmed="{{ confirmed }}">
    {{ include('data/partials/file-upload-div.html.twig', {'numFiles': 1}) }}
    <div id="upload_file_done"></div>
</div>
<div class="forms collapse" id="upload_file">
    {{ include('data/partials/file-upload-form.html.twig') }}
</div>
<div class="drop">
    <div>
        <div id="drop-area">
            {% trans %}Drop your file{% endtrans %}...
        </div>
    </div>
</div>
