<section class="title">
    <div class="container">
        <div>
            <img src="{{ baseUrl }}/images/bindeo_white_2.png" class="img-responsive">
        </div>
        <div>
            <h1>{% trans %}Digital notarization certificate{% endtrans %}</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</section>
<section class="dataset">
    <div class="container">
        <h2>{% trans %}Documents{% endtrans %}</h2>
        <ul class="list-files">
            {% for file in notarization.files %}
            <li>
                <span class="icon"></span>
                <div class="type-label">{{ file.name }}</div>
                <div class="type-value">{{ file.hash }}
                    <br>{{ file.size|number_format }} bytes{% if file.pages %}, {% transchoice file.pages %}%count% page|%count% pages{% endtranschoice %}{% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="dataset">
    <div class="container">
        <h2>{% trans %}Issuer{% endtrans %}</h2>
        <ul class="list-users">
            <li>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="icon"></span>
                        <div class="type-label">{{ notarization.issuer.name | upper }}</div>
                        <div class="type-annex">
                            <ul>
                                {% if notarization.issuer.document %}
                                <li>{% trans %}Identity{% endtrans %}: NIF {{ notarization.issuer.document }}</li>
                                {% endif %}
                                <li>{% trans %}Email{% endtrans %}: {{ notarization.issuer.email }}{#<span></span>{% trans %}Mobile phone{% endtrans %}: {{ issuer.phone }}#}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="dataset">
    <div class="container">
        <div>
            <h2>{% trans %}Digital deposit{% endtrans %}</h2>
            <div>
                <table class="table two-columns">
                    <tbody>
                    <tr>
                        <td>Blockchain Network</td>
                        <td>BTC Bitcoin Global Network (Blockchain)</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Protocol{% endtrans %}</td>
                        <td>BINDEO_ENHANCED_SING ({% trans %}version{% endtrans %} 1.0.0)</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Document integrity deposit{% endtrans %}</td>
                        <td>{{ notarization.blockchain.transaction }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>