<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 margin-top-25">
    <h1>{% trans %}Change sign in password{% endtrans %}</h1>
    <p>{% trans %}Type and repeat your new sign in password{% endtrans %}.</p>
    <div class="forms">
        {% if successPassword %}
            <div class="alert-success">{% trans %}Data successfully updated{% endtrans %}</div>
        {% endif %}
        {{ form_start(formPassword, {'attr': {'class': 'labels-no', 'autocomplete': 'off'}}) }}
            {{ form_errors(formPassword) }}
            {{ form_row(formPassword.oldPassword, {'attr': {'placeholder': 'Old password'}}) }}
            {{ form_row(formPassword.password.first, {'attr': {'placeholder': 'New password'}}) }}
            {{ form_row(formPassword.password.second, {'attr': {'placeholder': 'Repeat password'}}) }}
            <button type="submit" class="btn btn-default">{% trans %}Change password{% endtrans %}</button>
        {{ form_end(formPassword) }}
    </div>
</div>